@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #929EAE;
  --primary: #C8EE44;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-kumbh-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-gray-900: #1B212D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kumbh-sans), Arial, Helvetica, sans-serif;
}

.border,
.border-t,
.border-r,
.border-b,
.border-l,
.border-x,
.border-y { border-radius: 10px; }

.border { border-width: 1px; }
.border-t { border-top-width: 1px; }
.border-r { border-right-width: 1px; }
.border-b { border-bottom-width: 1px; }
.border-l { border-left-width: 1px; }
.border-x { border-left-width: 1px; border-right-width: 1px; }
.border-y { border-top-width: 1px; border-bottom-width: 1px; }

button:not(:disabled),
[role="button"],
a[href],
label[for],
summary {
  cursor: pointer;
}
